.cover-container {
  width: 36vw;
  height: 50vw;
  /* background: #eee; */
  text-align: center;
  /* color: #999999; */
  overflow: hidden;
}
.cover {
  margin: 2px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.info-txt {
  width: 100%;
  font-size: 15px;
  padding-bottom: 5px;
}
